/* locatie van de main */
main {
    display: flex;
    height: 73vh;
    justify-content: center;
    align-items: center;
}

/* layout voor de container waarin de producten zitten */
.outer-layout {
    padding: 1rem;
    outline: 3px solid black;
    width: 80%;
}

/* maakt de layout voor de row en kolommen */
.inner-box {
    display: flex;
    justify-content: space-between;
}

/* add wat ruimte toe aan de divs in inner-box */
.inner-box * {
    margin-block: 7px;
}

/* totaal ( layout ) */
.subtotaal {
    margin-block: 1rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid gray;
}

/* button styling */
.co-btn {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: aqua;
    width: 100%;
}

/* button when hover */
.co-btn:hover {
    background-color: rgb(0, 224, 224);
}