/* layout voor in de main */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* maakt de layout voor de kaarten van de games */
.card-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 5vw;
}

/* card layout */
.card {
    margin: 5px;
    padding: 10px;
    outline: 3px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    text-align: center;
}

/* img formaat van de scroller */
.img-card {
    object-fit: contain;
    height: 250px;
    width: 250px;
}

/* all p inside card */
.card p {
    margin-block: 5px;
}

/* button styling inside the cards */
.card-button {
    border: 3px solid aqua;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    width: 100%;
    padding: 5px;
}
/* on hover styling for the button */
.card-button:hover {
    transition: 400ms;
    background-color: aqua;
}

    /* Screen media's here */


@media (max-width: 600px) {
    .card-layout {
        grid-template-columns: repeat(1, 1fr); /* Change to single column on smaller screens */
    }
}