/* changes all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to the content area */
body {
    height: 100vh;
}

/* header-nav */

/* top section */
header {
    height: 10vh;
    padding: 10px 5rem;
    background-image: linear-gradient(rgb(196, 196, 196) 10%, white);
    margin-bottom: 2.5rem;
}

/* geeft alles in de navbar wat ruimte */
.navbar * {
    margin: 5px;
}

/* maakt alles netjes en even */
.navbar {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* size voor tekst links van de header */
.navbar > p {
    font-size: 50%;
}

/* voor de btn layout */
.navbar > div {
    display: flex;
    gap: 15px;
}

        /* start body / main */

/* main centreren */
main {
    display: flex;
    justify-content: center;
}

/* layout voor alle orders / producten */
.layout {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70vh;
    padding: 5px;
    background-color: lightgray;
    flex-wrap: wrap;
}

/* geeft wat ruimte voor de producten */
.layout > div * {
    margin: 5px;
}

/* BREAKPOINTS */
